#car {
    width: 40em;
    height: 25em;
    margin: 0 auto;
    position: relative;
  }
  
  #car li {
    width: 360px;
    height: auto;
    background: transparent;
    display: inline-block;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    overflow: hidden;
  }
  
  
  #car  .items {
    position: absolute;
  }
  #car img{
    width: 360px;
    height: auto;
  }
  
  #car  .main-pos {
    margin-left: 6em !important;
  
    /*background-image: url('https://dl.dropbox.com/u/32649907/imgs/shadow.png');*/
  }
  
  #car  .left-pos {
    opacity: .3;
    margin-left: -18em !important;
  
    -webkit-transform: scale(.75);
    -moz-transform: scale(.75);
    transform: scale(.75);
  }
  
  #car .back-pos {
    margin-left: 7em !important;
    opacity: .05;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    transform: scale(.5);
  }
  
  #car .right-pos {
    opacity: .3;
    margin-left:  30em !important;
  
    -webkit-transform: scale(.75);
    -moz-transform: scale(.75);
    transform: scale(.75);
  }
  
  #car  span {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    left: 0em;
    top: 20em;
  }

  