:root {
    --gris: #BCC1C7;
}

.mt {
    margin-top: 50px;
}

.artistas {
    margin: 75px 0;
}

@media only screen and (max-width: 540px) {
    .f {
        flex-direction: column;
    }

    .reverse {
        flex-direction: column-reverse;
    }

    #arrowimg {
        flex-direction: row!important;
        width: 80%;
        margin: 0 auto;
    }

    .my50 {
        margin: 50px 0;
    }
    
}



@media only screen and (min-width: 1268px) {

    .artistas {
        margin: 100px auto;
        width: 60%;
    }

    .bigImg {
        width: 400px;
    }

    img {
        width: 200px;
    }

    .w90 {
        width: 150px;
    }

    .greybg {
        margin: 150px 0;
    }
}


.evenly {
    justify-content: space-evenly;
}

footer a {
    margin-left: 10px;
}



em {
    padding: 0 2em;
}

.saludo {
    text-align: left;
    margin-top: 5em;
}