a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background: url(./img/wall.jpg);
}
img {
  width: 135px;
}

i {
  margin-top: 10px;
}

h3 {
  font-size: 32px;
  margin: 0;
}

p {
  text-align: center;
  font-size: larger;
 }
 
a:hover{
   color: #1f405e;
 }

.f {
  display: flex;
}

.f-column {
  flex-direction: column;
}

footer a {
  margin-left: 10px;
}


.center {
  justify-content: center;
  align-items: center;
}
.centerstart {
  justify-content: center;
  align-items: flex-start;
}

.evenly {
  justify-content: space-evenly!important;
}

.f1 {
  flex: 1;
}

.f2 {
  flex: 1.5;
}

.w90 {
  width: 90px;
}

.w200 {
  width: 200px;
}

.w250 {
  width: 400px;
}

.w66 {
width: 66%;
}

.mt5 {
 margin-top: 10em;
}
.w-full {
  width: 100%;
}


.textos {
  text-align: center;
  
}

.comboflexcentercolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.f-column-reverse {
  flex-direction: column-reverse;
}

section {
  margin-top: 100px;
}

select{
  display: none;
}

#logo {
  width: 200px;
}

nav {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  flex-wrap: nowrap;
  background: #152d42da;
  align-items: center;
  top: 0;
  z-index: 1;
}

nav button {
  color: #cecaca;
  padding: 7px 20px;
  letter-spacing: 2px;
  font-size: 25px;
  background: transparent;
  border: none;
}

nav button:last-child {
padding: 7px 20px 14px;
}


nav button:hover {
  color: #eceaea;
}

nav button:active {
  color: #615e5e;
}

.preFooterC{
  display: none;
}

a:visited {
  color:  #cecaca;
}

/* Home */


.leyenda {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  align-self: center;
  line-height: 50px;
}


.baularte {
  font-size: 60px;
}


.videoC{
  display: none;
}

.preFooter {
justify-self: stretch;
width: 100%;
box-sizing: border-box;
}

footer {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-top: auto;
  padding-top: 20px;
  width: 100%;
  box-sizing: border-box;
  background: #494949b7;
  color: #fafafa;


}

.col {
  width: 33vw;
  margin: 5px auto!important;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.princ{
display: flex;
align-items: center;

}

.top{
  margin-top: 5%;
}

.nosotras img{
width: 100vw;
}

.nosotrasDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nosotrasDiv img{
  width: 80%;
}
.pieFotoC{

  font-size: small;
  font-weight: bold;
  text-align: center;
  align-self: flex-start;
}
.pieFotoM{
  font-weight: bold;
  font-size: small;
  text-align: center;
  align-self: flex-end;
}

.mostraTalento {
  box-sizing: border-box;
  max-width: 350px;

  font-family: 'Montserrat', sans-serif;

  background-color: #152D42;
  font-size: 30px;
  padding: 15px;
  border-radius: 10px;
  border: 0.5px #eeeeee;
  margin-top: 50px;
  margin-bottom: 50px;
}
.mostraTalento a{
  color: #ebebeb;
}

.mostraTalento:hover {
  background-color: #1f405e;
}
.pag3 a{

  color: #152D42;
}
.pag3  a:hover{
  color: #1f405e;
}


.sumar {
  width: fit-content;
  align-self: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #ebebeb;
  font-size: 30px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 0.5px #eeeeee;

}
.sumar a{
  color: #152D42;
}

.sumar:hover {
  background-color: #fffefe
}


.oculto {
  display: none;
}


.pag1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pag1 h1 {
  font-size: 50px;
  margin-bottom: 0;
  color: #152d42;
  border-radius: 20px;
}

.pag1 h2 {
  color: #686565;
  letter-spacing: 1px;
  margin-top: 0;
}

.pag1 video {
  height: 88vh;
  width: 100%;
  margin-top: 1vh;
}



/* INICIO DE MEDIA QUERYS */
@media (max-width: 1200px){

select {
  display: flex;
  align-self: center;
  padding: 5px;
  width: 200px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 3px;
  color: #152D42;
  margin: 0;
}
option{
  max-width: 200px;
}
.menuBotones{
  display: none;
  transition: all 0.5s ease;
  transform-origin : 0px 100%;
}
.video{
  display:none;
}
.videoC{
  display: block;
  margin: 0;
 padding: 0;
 width: 100%;
}
.leyenda{

  align-self: center;
  justify-self: center;
}

.preFooterC{
width: 100%;
box-sizing: border-box;
}


.princ{
  flex-wrap: wrap;
  justify-content: center;
}

.M{
  flex-direction: column-reverse;
}
.nosotrasDiv img{
  align-self: center;
}
.fila{
  flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
}
.p2col{
  width: 80%;
}
.preFooter{
display: none;
}
.preFooterC{
  display: block;
  margin-right: 0;
  width: 100vw;
  max-height: 70vh;
}



footer{
  flex-direction: column;
  width:100%;
}

.col{
  width:95vw;
  margin: 5px auto!important;
  /* line-height: 15px; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.princ img{
  justify-self: center;
}
.col button{
  font-size: medium;
  margin-top: 5px;
  padding: 7px;
}
.pieFotoC {
  align-self: center;
  text-align: center;
}
.pieFotoM{
  align-self: center;
  text-align: center;
}
}


  /* MENU HAMBURGUESA */

  #menu_on{
    display: none;
    width:30px;
    height: 20px;
      position: absolute;
      top: 40px;
      right: 40px;
    z-index: 2;
  }
  
  #menu_on:hover {
      cursor: pointer;
  }
   
  #menu_on span{
    width: 100%;
    height: 4px;
    border-radius: 4px;
    display: block;
    position: absolute;
    background: #fff;
    transition: all 0.25s ease; /* Propiedades a animar | Tiempo | Tipo animación*/
    transform-origin : 0px 100%;
  }
   
  #menu_on span:nth-child(2){
    top: calc(50% - 2px);
  }
   
  #menu_on span:nth-child(3){
  bottom: 0;
  }
  
  svg {
      width: 20px;
      fill: #FFF;
  }
  
  svg:hover {
      cursor: pointer;
  }
  
  #menu_off {
      display: none;
      position: absolute;
      top: 40px;
      right: 40px;
  }
  
  .menuBotones{
      display: flex;
    }
  
  /* MEDIAQUERYS */
  
  @media only screen and (max-width: 1000px) {
      #menu_on{
          display: inline-block;
      }
      .menuBotones{
          display: none;
          flex-direction: column;
      }
      nav {
          flex-direction: column;
      }
  }
  
  @media only screen and (max-width: 768px) {
  
  }

  /* container */ 
  .container {
    width: 85%;
    margin: 0 auto;
    padding-top: 25px;
  }

  @media only screen and (min-width: 1400px) {

    .f:last-child {
      margin: 40px 0;
    }
  }