html{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: stretch;
  font-family: 'Montserrat', sans-serif;
 min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
}

select{
  display: none;
}

nav {
  
  display: flex;
  width: 99vw;
  height: 40px;
  padding: 20px;
  position: fixed;
 flex-wrap: nowrap;
  justify-content: center;
  background: #152d42da;
  align-items: center;
  z-index: 1;

 

}
nav div{
width: fit-content;
}

nav img {
width: 250px;
align-self: center;
justify-self: center;
margin-right: 40px;

}

nav button {
  color: #cecaca;
  justify-self: center;
  margin-right: 40px;
  letter-spacing: 2px;
  font-size: 25px;
  background: transparent;
  border: none;
}

nav button:hover {
  color: #eceaea;
}

nav button:active {
  color: #615e5e;
}


a {
  text-decoration: none;
}
.preFooterC{
  display: none;
}

a:visited {
  color:  #cecaca;
}

/* Home */


.leyenda {
  display: flex;
  text-align: center;
  margin-top: 60px;
  flex-direction: column;
  align-items: center;
  align-self: center;
  line-height: 50px;
}


.baularte {
  font-size: 60px;
}


.videoC{
  display: none;
}

.preFooter {
justify-self: stretch;
width:100vw;
box-sizing: border-box;
}

footer {

  height: 200px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-top: auto;
  padding-top: 20px;
  width: 100%;
  box-sizing: border-box;
  background: #494949b7;
  color: #fafafa;


}

.col {
  width: 33vw;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}





.princ{
display: flex;
align-items: center;

}

.p2col{
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin: 50px;
}

.top{
  margin-top: 5%;
}

.fila{
text-align: center;

}
.fila p{
  text-align: center;
  font-weight: 400;
  margin: 0px;
  font-size: large;
}

/* estilo imagenes de sobre */

#titSobre{

  position: absolute;    /* posición absolute con respecto al padre */
  align-self: center;
  width: 100px;
  right: 24%;
}
#queHacemos{
  position: absolute;    /* posición absolute con respecto al padre */
  align-self: center;
  width: 100px;
  left: 28%;
}
#cuadro{
  transform: rotate(10deg);
  position: absolute;
  width: 200px;
  right: 15%;
  top: 32%;
}

#compu{

  position: absolute;
  width: 200px;
  right: 25%;
  top: 50%;
}
#paleta{
  position: absolute;
  width: 100px;
  right:20%;
  top: 60%;
}
#manos{
  position: absolute;
  width: 250px;
  left: 20%;
  top: 70%;
}
#porQueLoHacemos{
  position: absolute;    /* posición absolute con respecto al padre */
  align-self: center;
  width: 100px;
  right: 26%;
  transform: rotate(180deg);
}
#comoNace{
  position: absolute;    /* posición absolute con respecto al padre */
  align-self: center;
  width: 100px;
  left: 28%;
}
#pintando{
  width: 300px;
}
#quienesS{
  transform: rotate(180deg);
  position: absolute;    /* posición absolute con respecto al padre */
  align-self: center;
  width: 100px;
  left: 28%;
}
#cata, #mile {
  width: 500px;
  align-self: center;
}

/* fin imagenes sobre */
/* estilo imagenes de convocatoria */
#convo{
  position: absolute;
  width: 300px;
  left: 20%;

}
#proceso1{
  width: 200px;
}
#proceso2{
  width: 150px;
 
}
#proceso3{
  width: 200px;
}
#proceso4{
  width: 150px;
}
#proceso5{
  width: 200px;
}
#check{
  width: 200px;
}
#cEsc{
  width: 200px;
}
#cajas{
  width: 200px;
}
/* fin imagenes convocatoria */
.fila{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.fila h3{
  position: relative;    /* para poder posicionar el texto de forma absoluta */
  display: inline-block; /* para que solo ocupe el ancho de la imagen */

  text-transform: uppercase;
  font-weight: bolder;
  font-size: larger;
  margin-bottom: 0;
  text-align: center;


}
.nosotras img{
width: 100vw;

}

.filaCompleta{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100vw;
}
.nosotrasDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
}





.filaCompleta img{
  width: 60%;
}
.nosotrasDiv img{
  width: 80%;
}
.pieFotoC{

  font-size: small;
  font-weight: bold;
  text-align: center;
  align-self: flex-start;
}
.pieFotoM{
  font-weight: bold;
  font-size: small;
  text-align: center;
  align-self: flex-end;
}



  #saludo {
      align-self: flex-end;
 }
.mostraTalento {
  box-sizing: border-box;
  max-width: 350px;

  font-family: 'Montserrat', sans-serif;

  background-color: #152D42;
  font-size: 30px;
  padding: 15px;
  border-radius: 10px;
  border: 0.5px #eeeeee;
  margin-top: 50px;
  margin-bottom: 50px;
}
.mostraTalento a{
  color: #ebebeb;
}

.mostraTalento:hover {
  background-color: #1f405e;
}
.pag3 a{

  color: #152D42;
}
.pag3  a:hover{
  color: #1f405e;
}


.sumar {
  width: fit-content;
  align-self: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #ebebeb;
  font-size: 30px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 0.5px #eeeeee;

}
.sumar a{
  color: #152D42;
}

.sumar:hover {
  background-color: #fffefe
}


.oculto {
  display: none;
}
@media (max-width: 1700px){
  nav{
    justify-content: center;

  }
}
@media (max-width: 1200px){
  body{
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  div{
    margin: 0;
    padding: 0;
  }
nav{
  justify-content:center;
  align-items: center;
  height: fit-content;
  width: 100vw;
  box-sizing: border-box;

}

nav img{
  position: unset;
  max-height: 100px;
  max-width: 200px;
  margin-right: 30px;
}
select {
  display: flex;
  align-self: center;
  padding: 5px;
  width: 200px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 3px;
  color: #152D42;
  margin: 0;
}
option{
  max-width: 200px;
}
.menuBotones{
  display: none;
}
.video{
  display:none;
}
.videoC{
  display: block;
  margin: 0;
 padding: 0;
 width: 100vw;
}
.leyenda{
  margin-top: 150px;
  align-self: center;
  justify-self: center;

}

.preFooterC{
width: 100vw;
box-sizing: border-box;
}

.pag1 {
  background: url(./img/Background.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pag1 h1 {
  font-size: 50px;
  margin-bottom: 0;
  color: #152d42;
  background-color: #ebebebad;
  border-radius: 20px;
}

.pag1 h2 {
  color: #686565;
  letter-spacing: 1px;
  margin-top: 0;
}

.pag1 video {
  height: 88vh;
  width: 100vw;
  margin-top: 1vh;

  box-sizing: border-box;
}


#car {
 width: 100vw;
  margin: 0 auto;
  position: center;
  box-sizing: border-box;


}

#car li {
 
  padding-left: 50px;
  padding-right: 50px;
 
}

.carousel{
  display: flex;
  justify-content: center;

}
#car  .items {

  position: absolute;
}
#car img{

  width: 300px;
  height: 281px;

}
#car li {
  text-align: center;
}

#car  .main-pos {
  margin-left: 0 !important;
  padding: 0;
  max-width: 300px;

  /*background-image: url('https://dl.dropbox.com/u/32649907/imgs/shadow.png');*/
}

#car  .left-pos {
display:none;
}

#car .back-pos {
display: none;
}

#car .right-pos {
  display:none;
}

#car  span {
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
  left: 0em;
  top: 20em;
}
.princ{
  flex-wrap: wrap;
  justify-content: center;
}
.filaCompleta img{
  align-self: center;
  width: 100%;
}
.M{
  flex-direction: column-reverse;
}
.nosotrasDiv img{
  align-self: center;
}
.fila{
  flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
}
.p2col{
  width: 80%;
}
.preFooter{
display: none;
}
.preFooterC{
  display: block;
  margin-right: 0;
  width: 100vw;
  max-height: 70vh;
}



footer{
  flex-direction: column;

height: 40vh;
  padding: 30px;
  box-sizing: border-box;
  width:100vw;
}
.col{
  width:95vw;
  line-height: 15px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.princ img{
  justify-self: center;
}
.col button{
  font-size: medium;
  margin-top: 5px;
  padding: 7px;
}
.pieFotoC {
  align-self: center;
  text-align: center;
}
.pieFotoM{
  align-self: center;
  text-align: center;
}
}
